<!-- title: Welcome to Nikola -->
<!-- slug: welcome-to-nikola -->
<!-- date: 2012-03-30 23:00:00 UTC-03:00 -->
<!-- tags: nikola, python, demo, blog -->
<!-- author: Roberto Alsina -->
<!-- link: https://getnikola.com/ -->
<!-- description: -->
<!-- category: nikola -->
<div class="figure">
<a class="reference external image-reference" href="https://farm1.staticflickr.com/138/352972944_4f9d568680_z.jpg?zz=1"><img alt="Nikola Tesla Corner by nicwest, on Flickr" class="thumbnail" src="https://farm1.staticflickr.com/138/352972944_4f9d568680.jpg" /></a>
</div>
<p>If you can see this in a web browser, it means you managed to install Nikola,
and build a site using it. Congratulations!</p>
<p>Next steps:</p>
<ul class="simple">
<li><p><a class="reference external" href="/en/pages/handbook/">Read the manual</a></p></li>
<li><p><a class="reference external" href="https://getnikola.com">Visit the Nikola website to learn more</a></p></li>
<li><p><a class="reference external" href="link://gallery/demo">See a demo photo gallery</a></p></li>
<li><p><a class="reference external" href="/en/pages/listings-demo/">See a demo listing</a></p></li>
<li><p><a class="reference external" href="/en/pages/dr-nikolas-vendetta/">See a demo of a longer text</a></p></li>
</ul>
<p>Send feedback to <a class="reference external" href="mailto:info&#64;getnikola.com">info&#64;getnikola.com</a>!</p>
