<!-- link: -->
<!-- description: -->
<!-- tags: -->
<!-- date: 2013-08-27 18:20:55 UTC-03:00 -->
<!-- title: Charts -->
<!-- slug: charts -->
<p>If you are using reStructuredText and install pygal, Nikola has support for rather nice charts
with little effort, and i's even semi-interactive (hover your pointer over the legend!):</p>
<pre class="code rest"><a name="rest_code_df21d3a5ede24e0db0ea7acb3a52d94b-1"></a><span class="p">..</span> <span class="ow">chart</span><span class="p">::</span> StackedLine
<a name="rest_code_df21d3a5ede24e0db0ea7acb3a52d94b-2"></a>   <span class="nc">:title:</span> &#39;Browser usage evolution (in %)&#39;
<a name="rest_code_df21d3a5ede24e0db0ea7acb3a52d94b-3"></a>   <span class="nc">:fill:</span> True
<a name="rest_code_df21d3a5ede24e0db0ea7acb3a52d94b-4"></a>   <span class="nc">:x_labels:</span> [&#39;2002&#39;,&#39;2003&#39;,&#39;2004&#39;,&#39;2005&#39;,&#39;2006&#39;,&#39;2007&#39;,&#39;2008&#39;,&#39;2009&#39;,&#39;2010&#39;,&#39;2011&#39;,&#39;2012&#39;]
<a name="rest_code_df21d3a5ede24e0db0ea7acb3a52d94b-5"></a>   <span class="nc">:width:</span> 600
<a name="rest_code_df21d3a5ede24e0db0ea7acb3a52d94b-6"></a>   <span class="nc">:height:</span> 400
<a name="rest_code_df21d3a5ede24e0db0ea7acb3a52d94b-7"></a>   <span class="nc">:explicit_size:</span> True
<a name="rest_code_df21d3a5ede24e0db0ea7acb3a52d94b-8"></a>   <span class="nc">:style:</span> BlueStyle
<a name="rest_code_df21d3a5ede24e0db0ea7acb3a52d94b-9"></a>
<a name="rest_code_df21d3a5ede24e0db0ea7acb3a52d94b-10"></a>   (&#39;Others&#39;,  [14.2, 15.4, 15.3,  8.9,    9, 10.4,  8.9,  5.8,  6.7,  6.8,  7.5])
<a name="rest_code_df21d3a5ede24e0db0ea7acb3a52d94b-11"></a>   (&#39;IE&#39;,      [85.8, 84.6, 84.7, 74.5,   66, 58.6, 54.7, 44.8, 36.2, 26.6, 20.1])
<a name="rest_code_df21d3a5ede24e0db0ea7acb3a52d94b-12"></a>   (&#39;Firefox&#39;, [None, None, None, 16.6,   25,   31, 36.4, 45.5, 46.3, 42.8, 37.1])
<a name="rest_code_df21d3a5ede24e0db0ea7acb3a52d94b-13"></a>   (&#39;Chrome&#39;,  [None, None, None, None, None, None,    0,  3.9, 10.8, 23.8, 35.3])
</pre><div style="text-align: center;"><?xml version='1.0' encoding='utf-8'?>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b" class="pygal-chart" viewBox="0 0 600 400" width="600" height="400"><!--Generated with pygal 2.4.0 (lxml) ©Kozea 2012-2016 on 2020-06-30--><!--http://pygal.org--><!--http://github.com/Kozea/pygal--><defs><style type="text/css">#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b{-webkit-user-select:none;-webkit-font-smoothing:antialiased;font-family:Consolas,"Liberation Mono",Menlo,Courier,monospace}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .title{font-family:Consolas,"Liberation Mono",Menlo,Courier,monospace;font-size:16px}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .legends .legend text{font-family:Consolas,"Liberation Mono",Menlo,Courier,monospace;font-size:14px}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .axis text{font-family:Consolas,"Liberation Mono",Menlo,Courier,monospace;font-size:10px}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .axis text.major{font-family:Consolas,"Liberation Mono",Menlo,Courier,monospace;font-size:10px}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .text-overlay text.value{font-family:Consolas,"Liberation Mono",Menlo,Courier,monospace;font-size:16px}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .text-overlay text.label{font-family:Consolas,"Liberation Mono",Menlo,Courier,monospace;font-size:10px}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .tooltip{font-family:Consolas,"Liberation Mono",Menlo,Courier,monospace;font-size:14px}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b text.no_data{font-family:Consolas,"Liberation Mono",Menlo,Courier,monospace;font-size:64px}
#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b{background-color:#f0f0f0}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b path,#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b line,#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b rect,#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b circle{-webkit-transition:250ms ease-in;-moz-transition:250ms ease-in;transition:250ms ease-in}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .graph &gt; .background{fill:#f0f0f0}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .plot &gt; .background{fill:#f8f8f8}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .graph{fill:rgba(0,0,0,0.9)}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b text.no_data{fill:rgba(0,0,0,0.9)}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .title{fill:rgba(0,0,0,0.9)}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .legends .legend text{fill:rgba(0,0,0,0.9)}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .legends .legend:hover text{fill:rgba(0,0,0,0.9)}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .axis .line{stroke:rgba(0,0,0,0.9)}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .axis .guide.line{stroke:rgba(0,0,0,0.6)}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .axis .major.line{stroke:rgba(0,0,0,0.9)}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .axis text.major{fill:rgba(0,0,0,0.9)}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .axis.y .guides:hover .guide.line,#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .line-graph .axis.x .guides:hover .guide.line,#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .stackedline-graph .axis.x .guides:hover .guide.line,#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .xy-graph .axis.x .guides:hover .guide.line{stroke:rgba(0,0,0,0.9)}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .axis .guides:hover text{fill:rgba(0,0,0,0.9)}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .reactive{fill-opacity:.5;stroke-opacity:.8}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .ci{stroke:rgba(0,0,0,0.9)}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .reactive.active,#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .active .reactive{fill-opacity:.9;stroke-opacity:.9;stroke-width:4}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .ci .reactive.active{stroke-width:1.5}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .series text{fill:rgba(0,0,0,0.9)}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .tooltip rect{fill:#f8f8f8;stroke:rgba(0,0,0,0.9);-webkit-transition:opacity 250ms ease-in;-moz-transition:opacity 250ms ease-in;transition:opacity 250ms ease-in}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .tooltip .label{fill:rgba(0,0,0,0.9)}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .tooltip .label{fill:rgba(0,0,0,0.9)}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .tooltip .legend{font-size:.8em;fill:rgba(0,0,0,0.6)}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .tooltip .x_label{font-size:.6em;fill:rgba(0,0,0,0.9)}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .tooltip .xlink{font-size:.5em;text-decoration:underline}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .tooltip .value{font-size:1.5em}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .bound{font-size:.5em}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .max-value{font-size:.75em;fill:rgba(0,0,0,0.6)}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .map-element{fill:#f8f8f8;stroke:rgba(0,0,0,0.6) !important}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .map-element .reactive{fill-opacity:inherit;stroke-opacity:inherit}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .color-0,#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .color-0 a:visited{stroke:#00b2f0;fill:#00b2f0}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .color-1,#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .color-1 a:visited{stroke:#43d9be;fill:#43d9be}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .color-2,#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .color-2 a:visited{stroke:#0662ab;fill:#0662ab}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .color-3,#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .color-3 a:visited{stroke:#00668a;fill:#00668a}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .text-overlay .color-0 text{fill:black}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .text-overlay .color-1 text{fill:black}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .text-overlay .color-2 text{fill:black}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .text-overlay .color-3 text{fill:black}
#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b text.no_data{text-anchor:middle}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .guide.line{fill:none}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .centered{text-anchor:middle}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .title{text-anchor:middle}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .legends .legend text{fill-opacity:1}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .axis.x text{text-anchor:middle}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .axis.x:not(.web) text[transform]{text-anchor:start}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .axis.x:not(.web) text[transform].backwards{text-anchor:end}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .axis.y text{text-anchor:end}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .axis.y text[transform].backwards{text-anchor:start}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .axis.y2 text{text-anchor:start}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .axis.y2 text[transform].backwards{text-anchor:end}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .axis .guide.line{stroke-dasharray:4,4}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .axis .major.guide.line{stroke-dasharray:6,6}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .horizontal .axis.y .guide.line,#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .horizontal .axis.y2 .guide.line,#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .vertical .axis.x .guide.line{opacity:0}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .horizontal .axis.always_show .guide.line,#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .vertical .axis.always_show .guide.line{opacity:1 !important}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .axis.y .guides:hover .guide.line,#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .axis.y2 .guides:hover .guide.line,#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .axis.x .guides:hover .guide.line{opacity:1}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .axis .guides:hover text{opacity:1}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .nofill{fill:none}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .subtle-fill{fill-opacity:.2}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .dot{stroke-width:1px;fill-opacity:1}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .dot.active{stroke-width:5px}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .dot.negative{fill:transparent}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b text,#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b tspan{stroke:none !important}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .series text.active{opacity:1}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .tooltip rect{fill-opacity:.95;stroke-width:.5}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .tooltip text{fill-opacity:1}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .showable{visibility:hidden}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .showable.shown{visibility:visible}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .gauge-background{fill:rgba(229,229,229,1);stroke:none}#chart-cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b .bg-lines{stroke:#f0f0f0;stroke-width:2px}</style><script type="text/javascript">window.pygal = window.pygal || {};window.pygal.config = window.pygal.config || {};window.pygal.config['cc837bf6-b2dd-4b26-9035-7bc4eaa0ca3b'] = {"allow_interruptions": false, "box_mode": "extremes", "classes": ["pygal-chart"], "css": ["file://style.css", "file://graph.css"], "defs": [], "disable_xml_declaration": false, "dots_size": 2.5, "dynamic_print_values": false, "explicit_size": true, "fill": true, "force_uri_protocol": "https", "formatter": null, "half_pie": false, "height": 400, "include_x_axis": false, "inner_radius": 0, "interpolate": null, "interpolation_parameters": {}, "interpolation_precision": 250, "inverse_y_axis": false, "js": ["//kozea.github.io/pygal.js/2.0.x/pygal-tooltips.min.js"], "legend_at_bottom": false, "legend_at_bottom_columns": null, "legend_box_size": 12, "logarithmic": false, "margin": 20, "margin_bottom": null, "margin_left": null, "margin_right": null, "margin_top": null, "max_scale": 16, "min_scale": 4, "missing_value_fill_truncation": "x", "no_data_text": "No data", "no_prefix": false, "order_min": null, "pretty_print": false, "print_labels": false, "print_values": false, "print_values_position": "center", "print_zeroes": true, "range": null, "rounded_bars": null, "secondary_range": null, "show_dots": true, "show_legend": true, "show_minor_x_labels": true, "show_minor_y_labels": true, "show_only_major_dots": false, "show_x_guides": false, "show_x_labels": true, "show_y_guides": true, "show_y_labels": true, "spacing": 10, "stack_from_top": false, "strict": false, "stroke": true, "stroke_style": null, "style": {"background": "#f0f0f0", "ci_colors": [], "colors": ["#00b2f0", "#43d9be", "#0662ab", "#00668a", "#98eadb", "#97d959", "#033861", "#ffd541", "#7dcf30", "#3ecdff", "#daaa00"], "font_family": "Consolas, \"Liberation Mono\", Menlo, Courier, monospace", "foreground": "rgba(0, 0, 0, 0.9)", "foreground_strong": "rgba(0, 0, 0, 0.9)", "foreground_subtle": "rgba(0, 0, 0, 0.6)", "guide_stroke_dasharray": "4,4", "label_font_family": "Consolas, \"Liberation Mono\", Menlo, Courier, monospace", "label_font_size": 10, "legend_font_family": "Consolas, \"Liberation Mono\", Menlo, Courier, monospace", "legend_font_size": 14, "major_guide_stroke_dasharray": "6,6", "major_label_font_family": "Consolas, \"Liberation Mono\", Menlo, Courier, monospace", "major_label_font_size": 10, "no_data_font_family": "Consolas, \"Liberation Mono\", Menlo, Courier, monospace", "no_data_font_size": 64, "opacity": ".5", "opacity_hover": ".9", "plot_background": "#f8f8f8", "stroke_opacity": ".8", "stroke_opacity_hover": ".9", "title_font_family": "Consolas, \"Liberation Mono\", Menlo, Courier, monospace", "title_font_size": 16, "tooltip_font_family": "Consolas, \"Liberation Mono\", Menlo, Courier, monospace", "tooltip_font_size": 14, "transition": "250ms ease-in", "value_background": "rgba(229, 229, 229, 1)", "value_colors": [], "value_font_family": "Consolas, \"Liberation Mono\", Menlo, Courier, monospace", "value_font_size": 16, "value_label_font_family": "Consolas, \"Liberation Mono\", Menlo, Courier, monospace", "value_label_font_size": 10}, "title": "Browser usage evolution (in %)", "tooltip_border_radius": 0, "tooltip_fancy_mode": true, "truncate_label": null, "truncate_legend": null, "width": 600, "x_label_rotation": 0, "x_labels": ["2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012"], "x_labels_major": null, "x_labels_major_count": null, "x_labels_major_every": null, "x_title": null, "xrange": null, "y_label_rotation": 0, "y_labels": null, "y_labels_major": null, "y_labels_major_count": null, "y_labels_major_every": null, "y_title": null, "zero": 0, "legends": ["Others", "IE", "Firefox", "Chrome"]}</script><script type="text/javascript" xlink:href="https://kozea.github.io/pygal.js/2.0.x/pygal-tooltips.min.js"/></defs><title>Browser usage evolution (in %)</title><g class="graph stackedline-graph vertical"><rect x="0" y="0" width="600" height="400" class="background"/><g transform="translate(128, 46)" class="plot"><rect x="0" y="0" width="451.2" height="314" class="background"/><g class="axis y always_show"><path d="M0.000000 314.000000 h451.200000" class="line"/><g class="guides"><path d="M0.000000 294.500000 h451.200000" class="guide line"/><text x="-5" y="298.0" class="">10</text><title>10</title></g><g class="guides"><path d="M0.000000 262.448718 h451.200000" class="guide line"/><text x="-5" y="265.94871794871796" class="">20</text><title>20</title></g><g class="guides"><path d="M0.000000 230.397436 h451.200000" class="guide line"/><text x="-5" y="233.8974358974359" class="">30</text><title>30</title></g><g class="guides"><path d="M0.000000 198.346154 h451.200000" class="guide line"/><text x="-5" y="201.84615384615387" class="">40</text><title>40</title></g><g class="guides"><path d="M0.000000 166.294872 h451.200000" class="major guide line"/><text x="-5" y="169.7948717948718" class="major">50</text><title>50</title></g><g class="guides"><path d="M0.000000 134.243590 h451.200000" class="guide line"/><text x="-5" y="137.74358974358975" class="">60</text><title>60</title></g><g class="guides"><path d="M0.000000 102.192308 h451.200000" class="guide line"/><text x="-5" y="105.69230769230771" class="">70</text><title>70</title></g><g class="guides"><path d="M0.000000 70.141026 h451.200000" class="guide line"/><text x="-5" y="73.64102564102564" class="">80</text><title>80</title></g><g class="guides"><path d="M0.000000 38.089744 h451.200000" class="guide line"/><text x="-5" y="41.58974358974359" class="">90</text><title>90</title></g><g class="guides"><path d="M0.000000 6.038462 h451.200000" class="major guide line"/><text x="-5" y="9.538461538461547" class="major">100</text><title>100</title></g></g><g class="axis x"><g class="guides"><path d="M8.676923 0.000000 v314.000000" class="line"/><text x="8.676923076923076" y="329.0" class="">2002</text></g><g class="guides"><path d="M52.061538 0.000000 v314.000000" class="guide line"/><text x="52.06153846153847" y="329.0" class="">2003</text></g><g class="guides"><path d="M95.446154 0.000000 v314.000000" class="guide line"/><text x="95.44615384615383" y="329.0" class="">2004</text></g><g class="guides"><path d="M138.830769 0.000000 v314.000000" class="guide line"/><text x="138.83076923076922" y="329.0" class="">2005</text></g><g class="guides"><path d="M182.215385 0.000000 v314.000000" class="guide line"/><text x="182.21538461538464" y="329.0" class="">2006</text></g><g class="guides"><path d="M225.600000 0.000000 v314.000000" class="guide line"/><text x="225.6" y="329.0" class="">2007</text></g><g class="guides"><path d="M268.984615 0.000000 v314.000000" class="guide line"/><text x="268.9846153846153" y="329.0" class="">2008</text></g><g class="guides"><path d="M312.369231 0.000000 v314.000000" class="guide line"/><text x="312.36923076923074" y="329.0" class="">2009</text></g><g class="guides"><path d="M355.753846 0.000000 v314.000000" class="guide line"/><text x="355.75384615384615" y="329.0" class="">2010</text></g><g class="guides"><path d="M399.138462 0.000000 v314.000000" class="guide line"/><text x="399.1384615384615" y="329.0" class="">2011</text></g><g class="guides"><path d="M442.523077 0.000000 v314.000000" class="guide line"/><text x="442.52307692307687" y="329.0" class="">2012</text></g></g><g class="series serie-0 color-0"><path d="M8.676923 314.000000 L8.676923 281.038462 52.061538 277.192308 95.446154 277.512821 138.830769 298.025641 182.215385 297.705128 225.600000 293.217949 268.984615 298.025641 312.369231 307.961538 355.753846 305.076923 399.138462 304.756410 442.523077 302.512821 442.523077 314.000000" class="line reactive"/></g><g class="series serie-1 color-1"><path d="M8.676923 6.038462 L52.061538 6.038462 95.446154 6.038462 138.830769 59.243590 182.215385 86.166667 225.600000 105.397436 268.984615 122.705128 312.369231 164.371795 355.753846 189.051282 399.138462 219.500000 442.523077 238.089744 442.523077 302.512821 399.138462 304.756410 355.753846 305.076923 312.369231 307.961538 268.984615 298.025641 225.600000 293.217949 182.215385 297.705128 138.830769 298.025641 95.446154 277.512821 52.061538 277.192308 8.676923 281.038462" class="line reactive"/></g><g class="series serie-2 color-2"><path d="M8.676923 6.038462 L52.061538 6.038462 95.446154 6.038462 138.830769 6.038462 182.215385 6.038462 225.600000 6.038462 268.984615 6.038462 312.369231 18.538462 355.753846 40.653846 399.138462 82.320513 442.523077 119.179487 442.523077 238.089744 399.138462 219.500000 355.753846 189.051282 312.369231 164.371795 268.984615 122.705128 225.600000 105.397436 182.215385 86.166667 138.830769 59.243590 95.446154 6.038462 52.061538 6.038462 8.676923 6.038462" class="line reactive"/></g><g class="series serie-3 color-3"><path d="M8.676923 6.038462 L52.061538 6.038462 95.446154 6.038462 138.830769 6.038462 182.215385 6.038462 225.600000 6.038462 268.984615 6.038462 312.369231 6.038462 355.753846 6.038462 399.138462 6.038462 442.523077 6.038462 442.523077 119.179487 399.138462 82.320513 355.753846 40.653846 312.369231 18.538462 268.984615 6.038462 225.600000 6.038462 182.215385 6.038462 138.830769 6.038462 95.446154 6.038462 52.061538 6.038462 8.676923 6.038462" class="line reactive"/></g></g><g class="titles"><text x="300.0" y="26" class="title plot_title">Browser usage evolution (in %)</text></g><g transform="translate(128, 46)" class="plot overlay"><g class="series serie-0 color-0"><g class="dots"><circle cx="8.676923076923076" cy="281.03846153846155" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">14.2</desc><desc class="x top">8.676923076923076</desc><desc class="y top">281.03846153846155</desc><desc class="x_label">2002</desc></g><g class="dots"><circle cx="52.06153846153847" cy="277.1923076923077" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">15.4</desc><desc class="x top">52.06153846153847</desc><desc class="y top">277.1923076923077</desc><desc class="x_label">2003</desc></g><g class="dots"><circle cx="95.44615384615383" cy="277.5128205128205" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">15.3</desc><desc class="x top">95.44615384615383</desc><desc class="y top">277.5128205128205</desc><desc class="x_label">2004</desc></g><g class="dots"><circle cx="138.83076923076922" cy="298.025641025641" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">8.9</desc><desc class="x top">138.83076923076922</desc><desc class="y top">298.025641025641</desc><desc class="x_label">2005</desc></g><g class="dots"><circle cx="182.21538461538464" cy="297.7051282051282" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">9</desc><desc class="x top">182.21538461538464</desc><desc class="y top">297.7051282051282</desc><desc class="x_label">2006</desc></g><g class="dots"><circle cx="225.6" cy="293.21794871794873" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">10.4</desc><desc class="x top">225.6</desc><desc class="y top">293.21794871794873</desc><desc class="x_label">2007</desc></g><g class="dots"><circle cx="268.9846153846153" cy="298.025641025641" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">8.9</desc><desc class="x left top">268.9846153846153</desc><desc class="y left top">298.025641025641</desc><desc class="x_label">2008</desc></g><g class="dots"><circle cx="312.36923076923074" cy="307.96153846153845" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">5.8</desc><desc class="x left top">312.36923076923074</desc><desc class="y left top">307.96153846153845</desc><desc class="x_label">2009</desc></g><g class="dots"><circle cx="355.75384615384615" cy="305.0769230769231" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">6.7</desc><desc class="x left top">355.75384615384615</desc><desc class="y left top">305.0769230769231</desc><desc class="x_label">2010</desc></g><g class="dots"><circle cx="399.1384615384615" cy="304.7564102564103" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">6.8</desc><desc class="x left top">399.1384615384615</desc><desc class="y left top">304.7564102564103</desc><desc class="x_label">2011</desc></g><g class="dots"><circle cx="442.52307692307687" cy="302.5128205128205" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">7.5</desc><desc class="x left top">442.52307692307687</desc><desc class="y left top">302.5128205128205</desc><desc class="x_label">2012</desc></g></g><g class="series serie-1 color-1"><g class="dots"><circle cx="8.676923076923076" cy="6.038461538461547" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">100 (+85.8)</desc><desc class="x ">8.676923076923076</desc><desc class="y ">6.038461538461547</desc><desc class="x_label">2002</desc></g><g class="dots"><circle cx="52.06153846153847" cy="6.038461538461547" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">100 (+84.6)</desc><desc class="x ">52.06153846153847</desc><desc class="y ">6.038461538461547</desc><desc class="x_label">2003</desc></g><g class="dots"><circle cx="95.44615384615383" cy="6.038461538461547" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">100 (+84.7)</desc><desc class="x ">95.44615384615383</desc><desc class="y ">6.038461538461547</desc><desc class="x_label">2004</desc></g><g class="dots"><circle cx="138.83076923076922" cy="59.24358974358972" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">83.4 (+74.5)</desc><desc class="x ">138.83076923076922</desc><desc class="y ">59.24358974358972</desc><desc class="x_label">2005</desc></g><g class="dots"><circle cx="182.21538461538464" cy="86.16666666666669" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">75 (+66)</desc><desc class="x ">182.21538461538464</desc><desc class="y ">86.16666666666669</desc><desc class="x_label">2006</desc></g><g class="dots"><circle cx="225.6" cy="105.39743589743591" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">69 (+58.6)</desc><desc class="x ">225.6</desc><desc class="y ">105.39743589743591</desc><desc class="x_label">2007</desc></g><g class="dots"><circle cx="268.9846153846153" cy="122.7051282051282" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">63.6 (+54.7)</desc><desc class="x left">268.9846153846153</desc><desc class="y left">122.7051282051282</desc><desc class="x_label">2008</desc></g><g class="dots"><circle cx="312.36923076923074" cy="164.3717948717949" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">50.6 (+44.8)</desc><desc class="x left top">312.36923076923074</desc><desc class="y left top">164.3717948717949</desc><desc class="x_label">2009</desc></g><g class="dots"><circle cx="355.75384615384615" cy="189.05128205128204" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">42.9 (+36.2)</desc><desc class="x left top">355.75384615384615</desc><desc class="y left top">189.05128205128204</desc><desc class="x_label">2010</desc></g><g class="dots"><circle cx="399.1384615384615" cy="219.5" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">33.4 (+26.6)</desc><desc class="x left top">399.1384615384615</desc><desc class="y left top">219.5</desc><desc class="x_label">2011</desc></g><g class="dots"><circle cx="442.52307692307687" cy="238.0897435897436" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">27.6 (+20.1)</desc><desc class="x left top">442.52307692307687</desc><desc class="y left top">238.0897435897436</desc><desc class="x_label">2012</desc></g></g><g class="series serie-2 color-2"><g class="dots"><circle cx="8.676923076923076" cy="6.038461538461547" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">100 (+0)</desc><desc class="x ">8.676923076923076</desc><desc class="y ">6.038461538461547</desc><desc class="x_label">2002</desc></g><g class="dots"><circle cx="52.06153846153847" cy="6.038461538461547" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">100 (+0)</desc><desc class="x ">52.06153846153847</desc><desc class="y ">6.038461538461547</desc><desc class="x_label">2003</desc></g><g class="dots"><circle cx="95.44615384615383" cy="6.038461538461547" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">100 (+0)</desc><desc class="x ">95.44615384615383</desc><desc class="y ">6.038461538461547</desc><desc class="x_label">2004</desc></g><g class="dots"><circle cx="138.83076923076922" cy="6.038461538461547" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">100 (+16.6)</desc><desc class="x ">138.83076923076922</desc><desc class="y ">6.038461538461547</desc><desc class="x_label">2005</desc></g><g class="dots"><circle cx="182.21538461538464" cy="6.038461538461547" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">100 (+25)</desc><desc class="x ">182.21538461538464</desc><desc class="y ">6.038461538461547</desc><desc class="x_label">2006</desc></g><g class="dots"><circle cx="225.6" cy="6.038461538461547" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">100 (+31)</desc><desc class="x ">225.6</desc><desc class="y ">6.038461538461547</desc><desc class="x_label">2007</desc></g><g class="dots"><circle cx="268.9846153846153" cy="6.038461538461547" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">100 (+36.4)</desc><desc class="x left">268.9846153846153</desc><desc class="y left">6.038461538461547</desc><desc class="x_label">2008</desc></g><g class="dots"><circle cx="312.36923076923074" cy="18.538461538461547" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">96.1 (+45.5)</desc><desc class="x left">312.36923076923074</desc><desc class="y left">18.538461538461547</desc><desc class="x_label">2009</desc></g><g class="dots"><circle cx="355.75384615384615" cy="40.65384615384613" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">89.2 (+46.3)</desc><desc class="x left">355.75384615384615</desc><desc class="y left">40.65384615384613</desc><desc class="x_label">2010</desc></g><g class="dots"><circle cx="399.1384615384615" cy="82.32051282051287" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">76.2 (+42.8)</desc><desc class="x left">399.1384615384615</desc><desc class="y left">82.32051282051287</desc><desc class="x_label">2011</desc></g><g class="dots"><circle cx="442.52307692307687" cy="119.17948717948715" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">64.7 (+37.1)</desc><desc class="x left">442.52307692307687</desc><desc class="y left">119.17948717948715</desc><desc class="x_label">2012</desc></g></g><g class="series serie-3 color-3"><g class="dots"><circle cx="8.676923076923076" cy="6.038461538461547" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">100 (+0)</desc><desc class="x ">8.676923076923076</desc><desc class="y ">6.038461538461547</desc><desc class="x_label">2002</desc></g><g class="dots"><circle cx="52.06153846153847" cy="6.038461538461547" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">100 (+0)</desc><desc class="x ">52.06153846153847</desc><desc class="y ">6.038461538461547</desc><desc class="x_label">2003</desc></g><g class="dots"><circle cx="95.44615384615383" cy="6.038461538461547" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">100 (+0)</desc><desc class="x ">95.44615384615383</desc><desc class="y ">6.038461538461547</desc><desc class="x_label">2004</desc></g><g class="dots"><circle cx="138.83076923076922" cy="6.038461538461547" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">100 (+0)</desc><desc class="x ">138.83076923076922</desc><desc class="y ">6.038461538461547</desc><desc class="x_label">2005</desc></g><g class="dots"><circle cx="182.21538461538464" cy="6.038461538461547" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">100 (+0)</desc><desc class="x ">182.21538461538464</desc><desc class="y ">6.038461538461547</desc><desc class="x_label">2006</desc></g><g class="dots"><circle cx="225.6" cy="6.038461538461547" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">100 (+0)</desc><desc class="x ">225.6</desc><desc class="y ">6.038461538461547</desc><desc class="x_label">2007</desc></g><g class="dots"><circle cx="268.9846153846153" cy="6.038461538461547" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">100 (+0)</desc><desc class="x left">268.9846153846153</desc><desc class="y left">6.038461538461547</desc><desc class="x_label">2008</desc></g><g class="dots"><circle cx="312.36923076923074" cy="6.038461538461547" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">100 (+3.9)</desc><desc class="x left">312.36923076923074</desc><desc class="y left">6.038461538461547</desc><desc class="x_label">2009</desc></g><g class="dots"><circle cx="355.75384615384615" cy="6.038461538461547" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">100 (+10.8)</desc><desc class="x left">355.75384615384615</desc><desc class="y left">6.038461538461547</desc><desc class="x_label">2010</desc></g><g class="dots"><circle cx="399.1384615384615" cy="6.038461538461604" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">100 (+23.8)</desc><desc class="x left">399.1384615384615</desc><desc class="y left">6.038461538461604</desc><desc class="x_label">2011</desc></g><g class="dots"><circle cx="442.52307692307687" cy="6.038461538461547" r="2.5" class="dot reactive tooltip-trigger"/><desc class="value">100 (+35.3)</desc><desc class="x left">442.52307692307687</desc><desc class="y left">6.038461538461547</desc><desc class="x_label">2012</desc></g></g></g><g transform="translate(128, 46)" class="plot text-overlay"><g class="series serie-0 color-0"/><g class="series serie-1 color-1"/><g class="series serie-2 color-2"/><g class="series serie-3 color-3"/></g><g transform="translate(128, 46)" class="plot tooltip-overlay"><g transform="translate(0 0)" style="opacity: 0" class="tooltip"><rect rx="0" ry="0" width="0" height="0" class="tooltip-box"/><g class="text"/></g></g><g transform="translate(10, 56)" class="legends"><g id="activate-serie-0" class="legend reactive activate-serie"><rect x="0.0" y="1.0" width="12" height="12" class="color-0 reactive"/><text x="17.0" y="11.2">Others</text></g><g id="activate-serie-1" class="legend reactive activate-serie"><rect x="0.0" y="22.0" width="12" height="12" class="color-1 reactive"/><text x="17.0" y="32.2">IE</text></g><g id="activate-serie-2" class="legend reactive activate-serie"><rect x="0.0" y="43.0" width="12" height="12" class="color-2 reactive"/><text x="17.0" y="53.2">Firefox</text></g><g id="activate-serie-3" class="legend reactive activate-serie"><rect x="0.0" y="64.0" width="12" height="12" class="color-3 reactive"/><text x="17.0" y="74.2">Chrome</text></g></g><g transform="translate(590, 56)" class="legends"/></g></svg></div><p>Here's how it works:</p>
<ul class="simple">
<li><p>Next to the directive, use the <a class="reference external" href="http://pygal.org/chart_types/">chart type you want</a></p></li>
<li><p>Any option you can set in a chart? Use it like <code class="docutils literal">:title:</code> in this example. Syntax on
the value is just like in the pygal examples.</p></li>
<li><p>For each data series do it like the line that says <code class="docutils literal">Firefox</code> in this example. The first element
is the label, then comes the data.</p></li>
</ul>
<p>Easy, right? Please explore <a class="reference external" href="http://pygal.org">the pygal site</a> for more information, and just
take this example and tweak stuff.</p>
